html,
body {
  margin: 0;
  height: 100%;
  background: #100333;
  overflow: hidden;
  perspective: 10rem;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes whoosh {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }
}

.chuva {
  position: absolute;
  width: 1rem;
  height: 6rem;
  background: #ffffff;
  border-radius: 20%;
  opacity: 0.2;
  z-index: -1;
}

.animacao {
  width: 1rem;
  height: 5rem;
  background: #ffffff;
  position: absolute;
  border-radius: 20%;
  opacity: 0.2;
}

.chuva1 {
  left: 5rem;
  top: 2rem;
  animation: raining 1s linear infinite both;
}

.chuva2 {
  left: 15rem;
  top: 10rem;
  animation: raining 2s linear infinite both;
}

.animacao2 {
  top: 12rem;
  animation: raining 3s linear infinite both -2s;
}

.chuva3 {
  left: 5rem;
  top: 35rem;
  animation: raining 4s linear infinite both;
}

.chuva4 {
  right: 23rem;
  top: 6rem;
  animation: raining 1s linear infinite both;
}

.chuva5 {
  left: 25rem;
  top: 47rem;
  animation: raining 2s linear infinite both -3s;
}

.animacao5 {
  top: -6rem;
  animation: raining 2s linear infinite both;
}

.chuva6 {
  right: 10rem;
  top: 34rem;
  animation: raining 3s linear infinite both;
}

.chuva7 {
  left: 34rem;
  top: 10rem;
  animation: raining 2s linear infinite both -5s;
}

.chuva8 {
  right: 25rem;
  top: 40rem;
  animation: raining 3s linear infinite both;
}

.animacao8 {
  top: -7rem;
  animation: raining 4s linear infinite both -6s;
}

.chuva9 {
  right: 5rem;
  top: 15.5rem;
  animation: raining 3s linear infinite both;
}

.chuva10 {
  left: 24rem;
  top: -4rem;
  animation: raining 2s linear infinite both -3s;
}

.animacao11 {
  right: 17rem;
  top: 20rem;
  animation: raining 3s linear infinite both;
}

.animacao12 {
  right: 15rem;
  top: 50rem;
  animation: raining 4s linear infinite both -1s;
}

@keyframes raining {
  from {
    transform: translateY(-1200px);
  }
  to {
    transform: translateY(869px);
  }
}
